//👀 https://prod-bdb-lifecicle-dt-webcomponents.labdigitalbdblifecycle.co/colors

//Primary palette
$Midnight-800: #0043A9;
$Carbon-900:	#000000;
$White: #FFFFFF;

//Blue variants
$Midnight-900:	#00317E;
$Midnight-800:	#0043A9;
$Midnight-700:	#1054B7;
$Midnight-600:	#4D86D4;
$Midnight-400:	#94BAE9;
$Midnight-300:	#B0CDF1;
$Midnight-200:	#CEE1F8;
$Midnight-50:   #F6FAFF;

//Gray variants
$Carbon-900:	#000000;
$Carbon-800:	#444444;
$Carbon-700:	#666666;
$Carbon-600:	#808080;
$Carbon-400:	#B3B3B3;
$Carbon-300:	#CCCCCC;
$Carbon-200:	#E6E6E6;
$Carbon-50:   #F2F2F2;

//Letter sizes
$size-title-principal: 20px;
$size-title-table: 16px;
$size-content-table: 14px;
$size-label: 14px;
$size-input: 26px;

$weight-label: 200;

$sherpa-white: #ffffff;

